h1{
    color: red}
    body{font-family: arial;
text-align: center;
}
h2{color: rgb(226, 43, 67)}

img{
    width:300px;

}
body{
    background-color: yellowgreen;
}
ul{text-align: justify;}
ol{text-align: justify;}

